.productosTitle {
    text-align: center;
    font-family: $font3;
    color: white;
    font-size: 45px;
    margin: 20px;
}

.productosSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    padding-top: 0;
}

@media(min-width: 440px) {
}